.template {
  display: none;
}

* {
  font-family: "Cutive Mono";
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #64706c;
}

#parent {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding-bottom: 100px;
}

#todo-search {
  display: flex;
  flex-direction: column;

  position: fixed;
  width: 100%;
  height: 150px;

  background-color: #c7ad88;
}

/*#todo-search-space {
  min-height: 200px;
}*/

#my-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  color: #935347;
}

#todo-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  margin: 30px;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-height: 100px;
  min-width: 275px;
  width: 275px;
  margin: 10px;
  background: #ede9ce;
  color: black;
  box-shadow: 5px 5px 10px #333333;
}

.todo-text {
  text-align: center;
  margin: 15px;
  font-size: 20px;
}

.todo-button {
  margin: 5px;
}

#todo-list {
  padding: 200px;
  display: flex;
  flex-wrap: wrap; justify-content: center;  
}
