/* A nice looking textbox. */
.textbox {
    height: 35px;
    width: 315px;
    border: 1px solid #B9BDC1;
    color: #797979;
    -moz-box-shadow: 0 2px 4px #bbb inset;
    -webkit-box-shadow: 0 2px 4px #BBB inset;
    box-shadow: 0 2px 4px #BBB inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* A close button. */
.close-icon {
  display:block;
  box-sizing:border-box;
  min-width: 20px;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:#935347;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:#935347;
  transition: all 0.3s ease;
}
